@media (min-width: 350px) and (max-width: 600px) {
  .nav-bar {
    height: 100px;
    padding: 10px 20px;
    margin-bottom: 50px;
    z-index: 500;
  }
  body {
    width: 100%;
  }
  #MenuBar {
    display: block;
    font-size: 45px;
    color: white;
  }
  nav a {
    text-decoration: none;
    font-size: 21px;
    letter-spacing: 2px;
    font-family: "Sour Gummy", sans-serif;
    color: white;
    transition: all 0.6s ease-out;
  }
  nav a:hover {
    background-color: orange;
    border-radius: 20px;
    transition: all 0.5s ease-in-out 0s;
  }
  .show {
    display: none;
  }

  .show.add {
    display: none;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-left: 50px;
    background-color: #00000080;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100vh;
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
  }
  .order div {
    background-color: yellow;
    color: black;
  }
  /* Hero section start */
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 35px;
    position: relative;
    top: 140px;
    left: 0px;
    text-align: center;
  }
  .hero-section h1 {
    font-size: 65px;
    font-family: "Yesteryear", cursive;
    color: orange;
  }
  .hero-section h4 {
    font-size: 25px;
    font-family: "Leckerli One", cursive;
  }
  .hero-section p {
    font-size: 19px;
    line-height: 30px;
  }

  .hero-section button {
    padding: 15px 35px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid black;
    transition: all 0.5s ease-in-out 0s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .hero-btn {
    display: flex;
  }
  .hero-section .hero-btn .hero-button:active {
    background-color: transparent;
    box-shadow: 0 0 7px 3px #4f0909;
  }

  .hero-section .hero-button-2:active {
    background-color: orange;
    color: white;
    box-shadow: 0 0 7px 3px #4f0909;
  }

  .hero-img {
    width: 370px;
    height: 400px;
    margin-top: 30px;
  }
  .hero-img img {
    width: 100%;
  }

  /* about page start */
  .about-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    margin-top: 110px;
    align-items: center;
    margin-left: 0px;
    border-radius: 0px;
    overflow: hidden;
  }
  .about-img {
    width: 300px;
    height: 300px;
  }
  .about-page h1 {
    margin-bottom: 30px;
    margin-left: 80px;
  }

  /* Booking table section styling */

  .Book-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Book-h1 {
    font-size: 40px;
  }
  .Book-table-img img {
    width: 360px;
    height: 360px;
    margin-right: 8px;
  }
  .Book-table-info {
    max-width: 550px;
  }
  .Book-table-form h1 {
    font-size: 55px;
  }

  /* Menu section style */
  .menu-section {
    padding: 30px 10px;
    width: 100%;
  }

  .menu-section .menu-h1 {
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 35px;
  }
  .item-1 figure {
    width: 330px;
    height: 330px;
  }
  .item-1 h1 {
    font-size: 38px;
  }
  .item-1 p {
    font-size: 19px;
    max-width: 300px;
    margin-left: 35px;
    font-family: "Yatra One", system-ui;
  }
  .rating {
    margin-top: 10px;
    margin-right: 30px;
  }
  .rating p {
    font-size: 25px;
  }
  .rating button {
    position: relative;
    margin-left: 40px;
  }
  .rating button:active {
    color: white;
    background-color: #007bff;
  }

  /* User Section style */
  .user-section {
    width: 100%;
    background-color: white;
    padding: 30px 20px;
    margin: 0px 0px;
  }
  .user-section .user-h1 {
    margin-top: 30px;
    max-width: 250px;
    padding-bottom: 20px;
    margin-left: 45px;
  }
  .user-opinion {
    display: flex;
    gap: 60px;
    overflow-x: scroll;
    margin-left: 0px;
    margin-top: 100px;
    /* animation: spin 2s infinite linear; */
  }
  .user-opinion figure {
    width: 335px;
    height: 335px;
  }
  .user-opinion figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  /* Gallery Section style */
  .gallery-section {
    padding: 20px 10px;
    text-align: center;
    margin-top: 50px;
  }
  .gallery-section h1 {
    font-size: 40px;
    margin-left: 85px;
  }
  .gallery-img {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 3px; /*imp for mobile device*/
    margin-top: 100px;
  }
  .gallery-img .img-1 {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
  .img-1:active img {
    transform: scale(1.2);
  }

  /* Contact Section Start */

  .contact-section {
    padding: 15px 10px;
    text-align: center;
    margin-left: 0px;
    border-radius: 0px;
    width: 100%;
  }
  .contact-section h1 {
    margin-bottom: 30px;
    margin-left: 70px;
  }
  .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-info ul {
    margin-left: 20px;
  }
  .contact-info ul li {
    font-size: 17px;
    font-family: "Arial Narrow Bold", sans-serif;
    opacity: 0.8;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 10px;
    margin-top: 30px;
  }
  form input {
    width: 320px;
    height: 45px;
    padding: 6px 20px;
  }
  #message {
    width: 320px;
    height: 110px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
  }

  /* Footer Section start */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 15px;
  }
  .footer-text p {
    font-size: 19px;
    font-family: "Arial Narrow Bold", sans-serif;
  }

  .footer-icon i {
    font-size: 25px;
  }
  .footer-copy {
    display: flex;
    gap: 25px;
  }
  .footer-copy p {
    font-size: 19px;
    font-family: "Arial Narrow Bold", sans-serif;
  }

  /* Order page styles */

  .container {
    flex-direction: column;
    gap: 10px;
    position: relative;
    bottom: 320px;
    font-size: 20px;
    border-radius: 5px;
    padding: 16px 6px;
    box-shadow: 0px 0px 10px 8px #00000045;
  }

  .itemName {
    font-family: "Delius Swash Caps", cursive;
  }
  .itemIndex {
    font-size: 30px;
    font-weight: 900;
  }
  .itemBtn {
    width: 180px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
  }
  .itemBtn:active {
    background-color: black;
    color: white;
  }
  .itemprice {
    font-size: 25px;
    font-weight: 900;
  }
  .itemqty {
    font-size: 23px;
    font-weight: 700;
  }
  #emptyImg {
    position: relative;
    bottom: 250px;
    left: 15px;
    width: 350px;
  }
}

/*====== TABLET MEDIA QUERY STYLING ======*/

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    width: 100%;
  }
  /* Navbar styling */
  .nav-bar {
    height: 100px;
  }

  #MenuBar {
    display: block;
    font-size: 45px;
    color: white;
  }
  nav a {
    font-size: 30px;
    margin-left: 50px;
    padding: 10px 20px;
  }
  nav a:active {
    background-color: green;
    border-radius: 20px;
    transition: all 0.5s ease-in-out 0s;
  }
  .show {
    display: none;
  }
  .show.add {
    display: block;
    display: flex;
    flex-direction: column;
    background-color: #000000b2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 100vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 500;
    justify-content: center;
    padding: 0 25px;
  }

  .order div {
    background-color: yellow;
    color: black;
  }
  /* Hero section start */
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 140px;
    gap: 20px;
    text-align: center;
  }
  .hero-section h1 {
    font-size: 100px;
  }
  .hero-section h4 {
    font-size: 45px;
  }
  .hero-section p {
    font-size: 25px;
    line-height: 30px;
    margin-left: 50px;
  }

  .hero-section .hero-btn button {
    width: 200px;
    height: 60px;
    font-size: 25px;
    border: 1px solid black;
    transition: all 0.5s ease-in-out 0s;
  }
  .hero-section .hero-btn .hero-button:active {
    background-color: transparent;
    box-shadow: 0 0 7px 3px #4f0909;
  }

  .hero-section .hero-button-2:active {
    background-color: orange;
    color: white;
    box-shadow: 0 0 7px 3px #4f0909;
  }

  .hero-img {
    width: 450px;
    height: 400px;
    margin-bottom: 200px;
  }
  /* about page start */
  .about-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    margin-top: 90px;
    align-items: center;
  }
  .about-img {
    width: 500px;
    height: 400px;
  }
  .about-page h1 {
    margin-bottom: 30px;
    margin-left: 220px;
  }
  .about-page p {
    font-size: 25px;
    line-height: 35px;
  }
  .about-icons {
    margin-top: 30px;
  }
  .about-icons i {
    font-size: 40px;
    text-shadow: 0 0 10px 10px black;
  }
  .about-icons i:active {
    text-shadow: 0 0 10px 10px gold;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  .rating button:active {
    color: white;
    background-color: #007bff;
  }

  /* menu section start */

  .menu-section {
    padding: 30px 20px;
    width: 100%;
  }
  .menu-section .menu-h1 {
    margin-bottom: 60px;
    border-color: gold;
    margin-left: 30%;
  }

  .menu-items {
    /* margin-left: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-1 figure {
    width: 500px;
    height: 500px;
  }
  .item-1 h1 {
    margin-bottom: 14px;
    font-size: 50px;
  }
  .item-1 p {
    font-size: 25px;
    max-width: 400px;
    margin-left: 50px;
  }
  .rating {
    margin-top: 30px;
  }
  .rating p {
    font-size: 30px;
  }
  .rating button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
  }
  /* user Section start */

  .user-section {
    width: 100%;
    background-color: white;
    padding: 20px 20px;
  }
  .user-section .user-h1 {
    font-size: 40px;
    max-width: 300px;
    margin-left: 35%;
  }
  .user-opinion {
    display: flex;
    gap: 50px;
    padding: 14px 10px;
    margin-left: 30px;
  }

  .user-opinion figure {
    width: 400px;
    height: 400px;
  }
  .user-opinion h1 {
    font-size: 40px;
  }
  .user-opinion p {
    font-size: 25px;
  }
  /* Gallery section  */

  .gallery-section {
    padding: 20px 12px;
    margin-top: 1px;
    width: 100%;
    position: relative;
  }

  .gallery-section h1 {
    font-size: 60px;
    width: 200px;
    margin-left: 40%;
  }

  .gallery-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 70px;
  }
  .gallery-img .img-1 {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }

  .img-1 img {
    width: 100%;
    height: 100%;
    transition: all 0.8s ease-in-out;
  }
  .img-1:active img {
    transform: scale(1.2);
  }

  /*====> Booking table Section start <====*/

  .Book-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  .Book-table-img img {
    width: 500px;
    height: 500px;
    border-radius: 5%;
    margin-bottom: 30px;
  }
  .Book-table-info {
    max-width: 550px;
    line-height: 30px;
  }
  .Book-table-form h1 {
    font-size: 60px;
    font-family: "Yesteryear", cursive;
    margin-bottom: 20px;
  }

  .Book-table-form {
    box-shadow: none;
    padding: 20px;
    text-align: center;
  }

  /* Order.html pages empty cart image */
  #emptyImg {
    position: relative;
    bottom: 100px;
    left: 180px;
  }

  /* Contact Section Start */

  .cntact-section {
    padding: 20px 20px;
  }

  .contact-section h1 {
    margin-bottom: 30px;
    width: 250px;
    padding-bottom: 10px;
    margin-left: 40%;
    font-size: 40px;
  }
  .contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
  }

  .contact-info ul {
    line-height: 50px;
  }
  .contact-info ul li {
    font-size: 23px;
    opacity: 0.8;
  }
  .contact-info ul li i {
    margin-right: 15px;
    font-size: 30px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  form input {
    height: 60px;
    font-size: 22px;
  }

  form button {
    width: 180px;
    height: 50px;
    font-size: 22px;
  }

  #message {
    height: 150px;
    font-size: 22px;
  }

  /*====> Order page styling <====*/
  .order-h1 {
    padding: 8px;
    margin-bottom: 30px;
    margin-top: 120px;
  }

  /* Footer sectio start */

  footer {
    height: 70px;
  }
  .footer-text p {
    font-size: 20px;
    font-family: "Arial Narrow Bold", sans-serif;
  }

  .footer-icon i {
    font-size: 25px;
  }
  .footer-copy {
    display: flex;
    gap: 25px;
  }
  .footer-copy p {
    font-size: 20px;
    font-family: "Arial Narrow Bold", sans-serif;
  }
}
