* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #4f0909;
  width: 100%;
}

/* navbar section start  */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 50px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #4f0909;
}

.web-logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
}
.web-logo h5 {
  font-size: 30px;
  color: white;
  font-family: "Molle", cursive;
}
.web-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#MenuBar {
  display: none;
}
nav {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Sour Gummy", sans-serif;
  color: white;
  padding: 10px 18px;
  transition: all 0.6s ease-out;
}
nav a:hover {
  background-color: orange;
  border-radius: 20px;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}
.heart {
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  text-shadow: 4px 4px 10px pink, -4px -4px 10px pink;
}
a:hover .heart {
  color: deeppink;
  text-shadow: 4px 4px 10px white, -4px -4px 10px white;
}
.order {
  display: flex;
  align-items: center;
}
.order div {
  font-size: 20px;
  color: white;
  background-color: green;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  position: relative;
  right: 32px;
  top: 10px;
  cursor: pointer;
}
.order div span {
  position: relative;
  bottom: 4px;
  right: 3px;
  cursor: pointer;
}

/* Hero section start */
.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  position: relative;
  top: 23px;
}

.hero-img {
  width: 500px;
  height: 500px;
}

.hero-img img {
  width: 100%;
}

.hero-section h1 {
  font-size: 45px;
  font-family: "Yesteryear", cursive;
  color: orange;
}

.hero-section h4 {
  font-size: 45px;
  font-family: "Yatra One", system-ui;
  color: white;
  font-family: "Allura", cursive;
  font-weight: 500;
}

.hero-section p {
  max-width: 450px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  font-family: "Yatra One", system-ui;
}

.hero-section .hero-btn button {
  padding: 12px 25px;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid orange;
  color: white;
  background: transparent;
  transition: all 0.5s ease-in-out 0s;
  /* box-shadow: 0 0 7px 3px orange; */
}
.hero-section .hero-btn .active {
  background-color: orange;
}
.hero-section .hero-btn .hero-button:hover {
  background-color: transparent;
  box-shadow: 0 0 7px 3px #4f0909;
}
.hero-section .hero-button-2 {
  box-shadow: 0 0 7px 3px #4f0909;
}
.hero-section .hero-button-2:hover {
  background-color: orange;
  color: white;
  box-shadow: 0 0 7px 3px #4f0909;
}

/* about image section start */
.about-section {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 190px;
  align-items: center;
  padding: 20px 26px;
  width: 100%;
}
.about-img {
  width: 500px;
  height: 500px;
}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.about-page p {
  max-width: 590px;
  font-family: "Yatra One", system-ui;
  font-size: 19px;
  text-align: center;
  line-height: 30px;
}
.about-page h1 {
  font-family: "Delius Swash Caps", cursive;
  margin-bottom: 60px;
  margin-left: 200px;
  border-bottom: 2px solid orange;
  width: 190px;
  border-width: 4px;
  padding-bottom: 15px;
}
.about-icons {
  text-align: center;
  margin-top: 20px;
}
.about-icons i {
  font-size: 35px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.about-icons i:hover {
  /* text-shadow: 5px 5px 10px gold, -5px -5px 10px gold; */
  transform: scale(1.3);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.about-icons .facebook {
  color: blue;
}
.about-icons .instagram {
  color: red;
}
.about-icons .twitter {
  color: black;
}

/* Booking table section styling */

.Book-table {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #00ffff, #7fffd4, #00bfff, #ffffff);
  padding: 30px;
}
.Book-h1 {
  background-color: white;
  text-align: center;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Book-table-img img {
  width: 500px;
  height: 500px;
}
.Book-table-info {
  max-width: 550px;
  line-height: 30px;
}
.Book-table-form h1 {
  font-size: 60px;
  font-family: "Yesteryear", cursive;
  margin-bottom: 30px;
}

.Book-table-form {
  box-shadow: 0 0 40px 8px deepskyblue;
  padding: 20px;
  text-align: center;
  height: 503px;
}

/* menu section start */

.menu-section {
  background-color: black;
  color: white;
  padding: 30px 80px;
  text-align: center;
  width: 100%;
}
.menu-section .menu-h1 {
  margin-bottom: 100px;
  border-bottom: 2px solid white;
  width: 300px;
  padding-bottom: 16px;
  border-color: gold;
  border-width: 4px;
  margin-left: 40%;
  font-size: 40px;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}
.item-1 figure {
  width: 400px;
  height: 400px;
}

.item-1 figure img {
  width: 100%;
  height: 100%;
}

.item-1 h1 {
  margin-bottom: 14px;
  font-size: 40px;
}
.item-1 p {
  font-size: 19px;
  max-width: 300px;
  margin-left: 60px;
  font-family: "Yatra One", system-ui;
}
.rating {
  margin-top: 10px;
}
.rating p {
  font-size: 25px;
}
.rating button {
  position: relative;
  width: 180px;
  height: 45px;
  font-size: 22px;
  border: 2px solid #007bff;
  background: transparent;
  color: #007bff;
  cursor: pointer;
  overflow: hidden;
  margin-top: 15px;
  border-radius: 5px;
}

.rating button:hover {
  color: white;
  background-color: #007bff;
}

/* user Section start */

.user-section {
  width: 100%;
  background-color: white;
  padding: 30px 30px;
}
.user-section .user-h1 {
  margin-top: 40px;
  border-bottom: 5px solid gold;
  max-width: 250px;
  padding-bottom: 20px;
  margin-left: 45%;
}
.user-opinion {
  display: flex;
  gap: 80px;
  overflow-x: scroll;
  margin-left: 120px;
  margin-top: 100px;
  max-width: 1300px;
  text-align: center;
  /* animation: spin 2s infinite linear; */
}

.user-opinion figure {
  width: 360px;
  height: 360px;
}
.user-opinion figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user-opinion h1 {
  margin: 20px 0;
  font-family: "Yatra One", system-ui;
}
.user-opinion p {
  font-family: "Yatra One", system-ui;
  font-size: 18px;
}

/* Gallery section  */

.gallery-section {
  padding: 20px 50px;
  text-align: center;
  margin-top: 50px;
}

.gallery-section h1 {
  font-size: 50px;
  color: white;
  border-bottom: 4px solid gold;
  width: 190px;
  padding-bottom: 12px;
  margin-left: 45%;
}

.gallery-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 150px;
  margin-top: 100px;
}
.gallery-img .img-1 {
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.img-1 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
}
.img-1:hover img {
  transform: scale(1.2);
}

/* Contact Section Start */

.contact-section {
  background-color: antiquewhite;
  padding: 20px 30px;
  text-align: center;
  width: 100%;
}

.contact-section h1 {
  margin-bottom: 50px;
  margin-top: 20px;
  font-family: "Arial Narrow Bold", sans-serif;
  border-bottom: 4px solid gold;
  width: 190px;
  padding-bottom: 12px;
  margin-left: 45%;
}
.contact-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-info ul {
  list-style-type: none;
  line-height: 50px;
  text-align: justify;
}
.contact-info ul li {
  font-size: 20px;
  font-family: "Arial Narrow Bold", sans-serif;
  opacity: 0.8;
}
.contact-info ul li i {
  margin-right: 12px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form input {
  width: 450px;
  height: 45px;
  padding: 6px 20px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

form button {
  width: 150px;
  height: 45px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: #4f0909;
  color: white;
  box-shadow: 0 0 10px 5px #4f0909;
}

#message {
  width: 450px;
  height: 110px;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

/* Footer sectio start */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  color: white;
  width: 100%;
  background-color: black;
  position: relative;
  bottom: 0;
  right: 0;
}
.footer-text p {
  font-size: 20px;
  font-family: "Arial Narrow Bold", sans-serif;
}

.footer-icon i {
  font-size: 25px;
}
.footer-copy {
  display: flex;
  gap: 25px;
}
.footer-copy p {
  font-size: 20px;
  font-family: "Arial Narrow Bold", sans-serif;
}

/* Order.html page start */

/* Orders section start */
#Orders {
  width: 100%;
  position: relative;
  top: 75px;
  text-align: center;
  background-color: white;
  min-height: 100vh;
  overflow-y: scroll;
}
#Orders h1 {
  padding: 8px;
  margin-bottom: 350px;
  margin-top: 20px;
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Add to cart section */

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  position: relative;
  background-color: white;
  bottom: 320px;
  color: black;
  font-size: 20px;
  box-shadow: 0px 0px 10px 8px #00000045;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.itemimg {
  width: 140px;
  height: 120px;
}
.itemName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.itemIndex {
  font-size: 20px;
  color: red;
}
.ItemBtn {
  width: 180px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}
.ItemBtn:hover {
  background-color: black;
  color: white;
}

/* Open button */
.open-btn {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 100px;
  right: 30px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

/* Popup box */
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
  text-align: center;
  transform: scale(0.7);
  transition: 0.3s ease;
  flex-direction: column;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}

/* Active popup */
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.overlay.active .popup {
  transform: scale(1);
}

/* Close button */
.close-btn {
  margin-top: 15px;
  padding: 8px 20px;
  width: 100%;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.item-image {
  width: 100px;
  height: 100px;
}

/* Cancel popup button */
.popup-cancel {
  position: relative;
  bottom: 263px;
  left: 112px;
}
.popup-cancel i {
  font-size: 25px;
}
.popup-cancel:hover i {
  color: red;
}
/* Popup image */

#popupOrder {
  width: 230px;
  height: 40px;
  background-color: #000000fb;
  position: absolute;
  box-shadow: 0 0 10px 5px black;
  border-radius: 5px;
  top: 130px;
  right: 30px;
  display: none;
  text-align: center;
  z-index: 300;
}

#popoupRemove {
  margin-top: 8px;
  font-size: 19px;
  color: white;
}
#emptyImg {
  position: relative;
  bottom: 300px;
  left: 500px;
}
